/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

.header {
  width: 90vw;
  height: 10vh;
  background-color: turquoise;
  margin: auto;
}

.gallery {
  height: 88vh;
  border: 0px;
}

.photo{
  height: 26.5vh;
  width: 85vw;
  background-color: chartreuse;
  margin: auto;
  margin-top: 20px;
}

.gallery div:nth-last-child(-n+3){
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .photo{
    height: 26.5vh;
    width: 39vw;
    background-color: chartreuse;
    margin: auto;
    margin-top: 30px;
  }

  .gallery div:nth-last-child(-n+3){
    display: block;
  }

  .gallery div:nth-child(even) {
    float: right;
    margin-right: 50px;
  }

  .gallery div:nth-child(odd) {
    float: left;
    margin-left: 50px;
  }

}

@media screen and (min-width: 1200px) {
  .photo{
    height: 37.5vh;
    width: 30vw;
    background-color: chartreuse;
    margin: auto;
    margin-top: 30px;
    margin-left: 25px;
    float: left;
  }

  .gallery div:nth-last-child(-n+3){
    display: block;
  }
  .header {
    width: 98vw;
    height: 16vh;
    background-color: turquoise;
    margin: auto;
  }
}
