/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}


/* End for testing */
body {
  margin: 0;
}

.buttons li{
  display: inline-block;
  background-color: pink;
  text-align: left;
}
.buttons {
  padding: 0;
}

.headline1{
  background-color: gray;
  width: 95vw;
}

.headline2{
  background-color: gray;
}

.photo-container{
  background-color: salmon;
  width: 100vw;
  text-align: left;
  margin-bottom: 20px;
}

.photo{
  height: 45vh;
  width: 100vw;
  background-color: black;
}

.logo{
  background-color: red;
  height: 3.5vh;
  width: 15vw;
}

@media screen and (min-width: 768px) and (max-width: 1200px){

  .buttons{
    float: right;
  }

  .logo{
    float: left;
  }

  .photo-container{
    background-color: salmon;
    width: 44vw;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

  .photo{
    height: 45vh;
    width: 44vw;
    background-color: black;
  }

  .gallery .photo-container:nth-child(4n+ 3), .photo-container:nth-child(4n + 4){
    background-color: blue;
    float: left;

  }

  .gallery .photo-container:nth-child(4n+ 1), .photo-container:nth-child(4n + 2){
    background-color: yellow;
    float: left;

  }
  .nav {
    overflow: auto;
  }

}
