/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */
body {
  margin: 0;
}
.nav{
  height: 8vh;
  width: 100vw;
  background-color: pink;
  text-align: center;
  clear: left;
}
.logo-div {
  overflow: hidden;
  height: 100%;
  width: 50vw;
  float: left;
  padding: 10px;
}

.nav ul {
    height: 100%;
    padding: 0;
    margin: 4px;
    text-align: left;
    font-size: 4vh;
    float: left;
    padding-top: 2%;
}

.nav li{
  display: inline-block;
  text-align: left;
}

.smallcircle{
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  float: left;
  clear: right;
}

.logo {
  background-color: black;
  height: 40%;
  margin-left: 4%;
  margin-top: 5%;
  width: 20vw;
  float: left;
}

.bigcircle{
  height: 140px;
  width: 140px;
  margin: auto;
  background-color: red;
  border-radius: 50%;
}

.box {
  width: 93vw;
  height: 14vh;
  background-color: black;
  margin: 5px auto;
}

p {
  margin-bottom: 5px;
}

.box:last-child {
  margin-top: 10px;
}

.right-content{
  display: none;
}

.content{
  display: none;
}

.gallery div:last-child{
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1200px){
  .gallery div:last-child{
    display: inline-block;
  }

  .hero {
  overflow: auto;
  margin: 10px;
  padding: 10px;
  }

  .hero-text {
    float: left;
    width: 60%;
  }

  .bigcircle {
    width: 35%;
    float: right;
    height: 254px;
  }

  .box {
    width: 30%;
    display: inline-block;
    height: 14vh;
    background-color: black;
    margin: 5px 11px;
  }
  .content {
    width: 50%;
    background-color: magenta;
    height: 85vh;
    display: block;
  }

  .right-content {
    width: 50%;
    float: right;
    background-color: orange;
    height: 85vh;
    display: block;
  }

  .paragraph{
    padding: 10px;
  }

  img{
    float: left;
    margin: 2px;
  }

  .nav ul {
    height: 100%;
    padding: 0;
    margin: 4px;
    text-align: left;
    font-size: 2.5vh;
    float: right;
    padding-top: 2%;
  }

  .smallcircle{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    float: left;
    clear: right;
  }
}

@media screen and (min-width: 1201px){

  .hero-text p{
    height: 100%;
  }

  .gallery div:last-child{
    display: block;
  }

  .hero {
  overflow: auto;
  margin: 10px;
  padding: 10px;
  height: 28vh;
  }

  .hero-text {
    float: left;
    width: 60%;
    height:26vh;
  }

  .bigcircle {
    width: 35%;
    float: right;
    height: 254px;
  }

  .box {
    width: 94%;
    display: block;
    height: 26.5vh;
    background-color: black;
    margin: 5px 11px;
  }
  .content {
    width: 34%;
    background-color: magenta;
    height: 82vh;
    float: left;
    display: block;
  }

  .right-content {
    width: 35%;
    float: left;
    background-color: orange;
    height: 82vh;
    display: block;
  }

  .paragraph{
    padding: 10px;
  }

  img{
    float: left;
    margin: 2px;
  }

  .nav ul {
    height: 100%;
    padding: 0;
    margin: 4px;
    text-align: left;
    font-size: 2.5vh;
    float: right;
    padding-top: 2%;
  }

  .smallcircle{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    float: left;
    clear: right;
  }

  .gallery{
    display: block;
    float: left;
    width: 30vw;
    height: 82vh;
  }
}
