/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */
body{
  margin: 0;
}

.main {
  background-color: cyan;
  width: 99vw;
  height: 50vh;
  margin: auto;
  margin-bottom: 25px;
}

.section1 {
  width: 99vw;
  background-color: salmon;
  height: 21vh;
  margin: auto;
  margin-bottom: 25px;
}

.section2 {
  width: 99vw;
  background-color: lime;
  height: 21vh;
  margin: auto;
}

@media screen and (min-width: 768px){
  .main {
    margin-bottom: 15px;
  }

  .section1{
    float: left;
    margin-left: 5px;
    width: 48vw;
    height: 48vh;
  }

  .section2{
    float: right;
    margin: auto;
    margin-right: 5px;
    width: 48vw;
    height: 48vh;
  }
}
